
<div class="container">
    <div class="card text-size-md shadow p-3 my-2 bg-white rounded" style="width:1200px;margin: 0 auto;">
      <app-section-header-black>
        <div id="partA_Header">Teachers</div>
      </app-section-header-black>

      <div class="card-body">
        <div class="row my-3 mx-0">

          <table mdbTable class="text-sm">
            <thead>
              <tr class="text-sm">
                <th>Student Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Date Registered</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngFor='let teacher of teacherArray'>
              <tr mdbTableCol class="text-sm">
                <th scope="row">{{ teacher.id}}</th>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.surname }}</td>
                <td> {{ teacher.dateRegistered|date: 'dd/MM/yyyy'}}</td>
                <td>
                  <button type="button"
                    mdbBtn
                    style="background-color: #F1C40F; color:white"
                    mdbWavesEffect
                    (click)="editClass()"
                    size="sm">
                    <i class="fas fa-user-edit"></i>
                  </button>
                  <button type="button"
                    mdbBtn
                    style="background-color: #CC0000; color:white"
                    mdbWavesEffect
                    size="sm"
                    (click)="deleteClass()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <button type="button"
                mdbBtn
                style="border-radius: 49%"
                class="red text-white"
                mdbWavesEffect
                (click)="addNewTeacher()">
                <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
</div>
