<div class="container-fluid">
  <mdb-card class="text-sm my-2" style="width: 70%; margin: 0 auto;">
    <mdb-card-body>
      <app-section-header-black>
        <div>Class Details</div>
      </app-section-header-black>
        <form (ngSubmit)='save()' #f="ngForm">
          <div class="row text-sm mt-2">
            <div class="form-group mx-5 col">
              <label>Name</label>
              <input type="text"
                      name="name"
                      id='name'
                      [(ngModel)]="newClass.className"
                      class="form-control form-control-sm bg-med text-sm">
            </div>

            <div class="form-group mx-5 col">
              <label>Description</label>
              <input type="text"
                      name='description'
                      id='description'
                      [(ngModel)]="newClass.description"
                      class="form-control form-control-sm bg-med text-sm">
            </div>

            <!-- <div class="form-group mx-5 col">
              <label id="partA_cpyname">Date Registered</label>
              <input type="date"
                      name="partA_cpyname"
                      class="form-control form-control-sm bg-med text-sm">
            </div> -->
          </div>
          <div class="row text-sm">
            <div class="col mx-5">
              <button type="submit"
                    mdbBtn
                    class="red text-white text-xs"
                    style="width: 110px;"
                    mdbWavesEffect>
                    <i class="fa fa-unlock-alt my-1" style="float: left;"></i>
                    <div class="text-sm">Save</div>
                </button>
            </div>
          </div>
      </form>
    </mdb-card-body>
  </mdb-card>
</div>


