
<div class="container">
    <div class="card text-size-md shadow p-3 mb-5 bg-white rounded" style="width:600px;margin: 0 auto; margin-top: 100px;">
        <div class="card-header red text-white">Welcome to CSG Class Attendance</div>
        <div class="card-body">
        <form  novalidate>
          <div class="form-group">
            <div class="row-height-med">
              <input mdbInput type="text"
                    name="username"
                    placeholder="Username"
                    required
                    class="form-control text-sm bgc">
                    <div class="form-group">
                        <div
                            class="text-sm"
                            style="color:tomato;">
                            <i class="fas fa-exclamation-circle"></i>
                            Username is required
                        </div>
                    </div>
            </div>

            <div class="row-height-med">
              <input mdbInput type="password"
                    name="password"
                    placeholder="Password"
                    required
                    class="form-control text-sm bgc">
                    <div class="form-group">
                        <div
                            class="text-sm"
                            style="color:tomato;">
                            <i class="fas fa-exclamation-circle"></i>
                            Password is required
                        </div>
                    </div>
            </div>
          </div>

          <div class="row my-3 mx-0">
              <button type="button"
                  mdbBtn
                  class="red text-white"
                  style="width: 130px;height: 35px;"
                  mdbWavesEffect
                  (click)="login()">
                  <i class="fa fa-unlock-alt" style="float: left;"></i>
                  <div class="text-sm" style="margin-top: -5px;">Login</div>
              </button>

          </div>
          <div class="my-1 mx-2 text-md">
            <a href="#">Forget password?</a>
          </div>
        </form>
        <p-toast [style]="{marginTop: '80px'}" position="top-left" key="tl"></p-toast>
        </div>
    </div>
</div>
