<div class="container-fluid">
  <mdb-card class="text-sm" style="width: 70%; margin: 0 auto;">
    <mdb-card-body>
      <app-section-header-black>
        Teacher Details
      </app-section-header-black>
      <form (ngSubmit)='save()' #f="ngForm">
        <div class="row text-sm my-2">
          <div class="form-group mx-5 col">
            <label>Name</label>
            <input type="text"
                    name="name"
                    id="name"
                    [(ngModel)]="newTeacher.name"
                    class="form-control form-control-sm bg-med text-sm">
          </div>

          <div class="form-group mx-5 col">
            <label>Surname</label>
            <input type="text"
                    name="surname"
                    id="surname"
                    [(ngModel)]="newTeacher.surname"
                    class="form-control form-control-sm bg-med text-sm">
          </div>

          <div class="form-group mx-5 col">
            <label>Date Registered</label>
            <input type="date"
                    name="registeredDate"
                    id="registeredDate"
                    [(ngModel)]="newTeacher.dateRegistered"
                    class="form-control form-control-sm bg-med text-sm">
          </div>
        </div>
        <div class="row text-sm">
          <div class="col mx-5">
            <button type="submit"
                  mdbBtn
                  class="red text-white"
                  style="width: 110px;"
                  mdbWavesEffec>
                  <i class="fa fa-unlock-alt my-1" style="float: left;"></i>
                  <div class="text-xs my-1">Save</div>
              </button>
          </div>

        </div>
      </form>
    </mdb-card-body>
  </mdb-card>
</div>


