/* You can add global styles to this file, and also import other style files */

.text-xs {
  font-size: 10px;
}

.text-sm {
  font-size: 10px;
}

.text-md {
  font-size: 13px;
}

   @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
