<div class="container">
    <div class="row my-5">    
        <div class="col-3 align-center">   
          <div class="card p-shadow-10" style="width: 16rem; background-color: lightgrey;">
            <div class="card-body">
              <h5 class="card-title">Daily</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card p-shadow-10 mx-3" style="width: 16rem; background-color: lightgrey;">
            <div class="card-body">
              <h5 class="card-title">Maintenance</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card p-shadow-10 mx-3" style="width: 16rem; background-color: lightgrey;">
            <div class="card-body">
              <h5 class="card-title">Reports</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
    </div>
</div>
