<div class="container-fluid">
  <div class="card text-size-sm shadow p-3 bg-white my-2" style="margin: 0 auto;">
    <app-section-header-black>
      <div class="text-sm">Capture Daily Attendance</div>
    </app-section-header-black>

    <div class="mx-auto red" style="width: 99.4%; color: white;border:1px solid red">
      <div class="text-center">
        <div class="row mx-3">
          <div class="col">
            <label class="text-sm">Teacher</label>
            <select class="browser-default custom-select text-sm"
                    [(ngModel)]="newRegistration.teacherId">
              <option selected style="font-style: italic">Select teacher</option>
              <option *ngFor="let teacher of teachers"
                      [ngValue]="teacher.id">{{ teacher.name}} {{teacher.surname}}</option>
            </select>
          </div>
          <div class="col">
            <label class="text-sm">Class</label>
            <select class="browser-default custom-select text-sm"
                    [(ngModel)]="newRegistration.classId">
              <option selected style="font-style: italic">Select class</option>
              <option *ngFor="let class of classes"
                      [ngValue]="class.id">{{ class.className }}</option>
            </select>
          </div>
          <div class="col">
            <label class="text-sm">Date</label>
            <input type="date" id="dateReg" id="dateReg"
                  [(ngModel)]="newRegistration.attendanceDate"
                  class="form-control form-control-sm mb-4 text-sm"
                  placeholder="select a date">
          </div>
        </div>
      </div>
    </div>

    <div class="row my-3 mx-0">
      <div class="col">
        <form (ngSubmit)='save()'>
          <table mdbTable small="true" style="width: 100%;">
            <thead>
              <tr class="text-xs">
                <!-- <th>Teacher</th> -->
                <th>Student</th>
                <th>Attendance</th>
                <th>Grade</th>
              </tr>
            </thead>
            <tbody *ngFor='let regVM of regViewModels'>
              <tr mdbTableCol class="text-xs">
                <!-- <td scope="row">{{ newRegistration.TeacherId }}</td> -->
                <!-- <td>{{ student.Id }} </td> -->
                <td>{{ regVM.name }} {{ regVM.surname }}</td>
                <td>
                  <div class="ml-4" style="float: initial;">
                    <mdb-checkbox name='attendance'
                                  [(ngModel)]='regVM.attendance'>
                    </mdb-checkbox>
                  </div>
                </td>
                <td>
                  <input type="text"
                         name='name'
                         [(ngModel)]='regVM.grade'
                         class="form-control form-control-sm">
                </td>
              </tr>
            </tbody>
          </table>
          <button type="submit"
                mdbBtn
                style="border-radius: 49%"
                class="red text-white"
                mdbWavesEffect>
              <i class="fas fa-save"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
